{% if posts.count()>0 %}
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Posts:</strong> {{ posts.count() }} found
    </div>
    <table class="table">
    <tr>
    <th>Date</th>
    <th>Title</th>
    <th>Tags</th>
    <th></th>
    </tr>
    {% for post in posts %}
    <tr>
    <td>{{post.created_on.strftime('%d/%m/%Y - %H:%M')}}</td>
    <td>{{ post.title }}</td>
    <td>
        {% for tag in post.tags %}
        <a href="{{ url_for('main.tag', id=tag.id) }}">
            <button type="button" class="btn btn-info btn-xs">
                {{ tag.name }}
            </button>
        </a>
        {% endfor %}
    </td>
    <td>
        <a href="{{ url_for('main.object', id=post.id) }}">
            <button type="button" class="btn btn-success btn-xs">
                <span class="glyphicon glyphicon-zoom-in"></span> Details
            </button>
        </a>
    </td>
    </tr>
    {% endfor %}
    </table>
</div>
{% else %}
    No posts found
{% endif %}