{% if posts.count()>0 %}
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Posts:</strong>
        {% if posts.count()>1 %}
            {{ posts.count() }} encontrado(s)
        {% else %}
            {{ posts.count() }} encontrado
        {% endif %}
    </div>
  <div class="table-responsive">
      <table class="table table-hover">
        <tr>
        <th>Data</th>
        <th>Título</th>
        <th>Tags</th>
        <th></th>
        </tr>
        {% for post in posts %}
        <tr>
        <td>{{post.created_on.strftime('%d/%m/%Y - %H:%M')}}</td>
        <td>{{ post.title }}</td>
        <td>
            {% for tag in post.tags %}
            <a href="{{ url_for('main.tag', id=tag.id) }}">
                <button type="button" class="btn btn-info btn-xs">
                    {{ tag.name }}
                </button>
            </a>
            {% endfor %}
        </td>
        <td>
            <a href="{{ url_for('main.object', string=post.slug_title) }}">
                <button type="button" class="btn btn-success btn-xs">
                    <span class="glyphicon glyphicon-zoom-in"></span> Detalhes
                </button>
            </a>
        </td>
        </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% else %}
    Nenhum artigo encontrado.
{% endif %}