{% if tags.count()>0 %}
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Tags:</strong> 
        {% if tags.count()>1 %}
            {{ tags.count() }} encontrado(s)
        {% else %}
            {{ tags.count() }} encontrado
        {% endif %}
    </div>
    <div id="show_tags">
    {% for tag in tags %}

        <a href="{{ url_for('main.tag', id=tag.id) }}">
            <button type="button" class="btn btn-info btn-md">
                {{ tag.name }}
            </button>
        </a>
    {% endfor %}
    </div>
</div>
{% else %}
    Nenhuma tag encontrada.
{% endif %}
