{% import "bootstrap/wtf.html" as wtf%}
{% extends "admin/_base.html" %}


{% block content %}
{% include "admin/_menu.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}

<div class="col-xs-12 col-md-6">
    <h1>Login</h1>
    <hr>
    <form action="{{ url_for('security.login') }}" method="POST" name="register_user_form">
        {{ login_user_form.hidden_tag() }}



        {{ wtf.form_field(login_user_form.email) }}
        {{ wtf.form_field(login_user_form.password) }}
        {{ wtf.form_field(login_user_form.remember) }}
        {{ wtf.form_field(login_user_form.submit) }}
    </form>
</div>
{% endblock content %}
