{% import "bootstrap/wtf.html" as wtf%}
<div id="comments">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Comentários ({{ comments.count() }})</h3>
      </div>
      {% include "main/_messages.html" %}
      <div class="panel-body">
        {% for comment in comments.all() %}
          Escrito em {{ comment.created_on.strftime('%d/%m/%Y as %H:%M') }} ({{ moment(comment.created_on).fromTime(now) }}) by
          {% if comment.publish_email==True %} 
          <a href="mailto:{{comment.email}}"><i>{{comment.name}}</i></a>
          {% else %}
          <i>{{comment.name}}</i>
          {% endif %}
          <br>
                {% if comment.body_html %}
                    {{ comment.body_html | safe }}
                {% else %}
                    {{ comment.body }}
                {% endif %}
          <hr>
          {% endfor %}
          <h1>Novo comentário</h1>
            {{ wtf.quick_form(form) }}
          </div>
      </div>
    </div>