{% extends "_base.html" %}

{% block metas %}
    {{ super() }}
    <meta name="keywords" content="{% for tag in tags[:15] %}{{ tag.name }},{% endfor %}">
{% endblock metas %}

{% block content %}
<h1>Todas as tags</h1>
<p>
<div class="panel panel-default">
<div id="show_tags">
    {% for tag in tags %}
    <a href="{{ url_for('main.tag', id=tag.id) }}">
    <button type="button" class="btn btn-info btn-md">
    {{ tag.name }}
    </button></a>
    {% endfor %}
</div>
</div>
</p>
{% endblock content %}