{% import "bootstrap/wtf.html" as wtf%}
{% extends "admin/_base.html" %}

{% block content %}
{% include "admin/_menu.html" %}
{% include "admin/_messages.html" %}
<div class="col-md-12">
    <h1>All Entries</h1>
    <p>
     <div class="panel panel-default">
      <div class="panel-heading">
        <a href="{{ url_for('admin.new_post')}}">New Post</a>
        |
        <a href="{{ url_for('admin.new_link')}}">New Link</a>
        | <strong>Total:</strong> {{ count }} entries
      </div>

      <table class="table">
        <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Comment</th>
            <th>Location</th>
            <th>Visible</th>
            <th>Modify</th>
        </tr>
        {% for comment in comments %}
        <tr>
            <td>{{ moment(comment.created_on).fromTime(now) }}</td>
            <td><a href="emailto:{{ url_for ('comment.email') }}">{{ comment.name }}</a></td>
            <td>{{ comment.body }}</td>
            <td>{{ comment.Object.title }}</td>
            <td>{{ comment.disabled }}</td>
            <td>
              <a href="{{ url_for('admin.turn_visible_comment', id=object.id) }}">
                {% if comment.disabled == True %}
                  Enable
                {% else %}
                  Disable
                {% endif %}
              </a> |
              <a href="{{ url_for('admin.delete_comment', id=object.id) }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
      </table>
    </div>
    </p>
</div>

{% endblock content %}