{% import "bootstrap/wtf.html" as wtf%}
{% extends "admin/_base.html" %}

{% block content %}
{% include "admin/_menu.html" %}
{% include "admin/_messages.html" %}
<div class="col-md-12">
    <h1>All Entries</h1>
    <p>
     <div class="panel panel-default">
      <div class="panel-heading">
      <strong>Total:</strong> {{ comments.count() }} entries
      </div>

      <table class="table">
        <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Comment</th>
            <th>Location</th>
            <th>Enabled</th>
            <th>Modify</th>
        </tr>
        {% for comment in comments %}
        <tr>
            <td>{{ moment(comment.created_on).fromTime(now) }}</td>
            <td><a href="mailto:{{ comment.email }}">{{ comment.name }}</a></td>
            <td>{{ comment.body[:50] }}</td>
            <td>{{ comment.object.title }}</td>
            <td>{{ comment.enabled }}</td>
            <td>
              <a href="{{ url_for('admin.turn_visible_comment', id=comment.id) }}">
                {% if comment.enabled == True %}
                  Disable
                {% else %}
                  Enable
                {% endif %}
                </a> |
              <a href="{{ url_for('admin.delete_comment', id=comment.id) }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
      </table>
    </div>
    </p>
</div>

{% endblock content %}