{% import "bootstrap/wtf.html" as wtf%}
{% extends "admin/_base.html" %}

{% block content %}
{% include "admin/_messages.html" %}
<h1>Delete</h1>
<hr>
<div class="col-xs-12 col-md-6">
    <p>The tag bellow are completely dropped from de database.</p>

    <div class="panel panel-default">
        <div class="panel-heading">
            <p>
                <strong>Title:</strong>
                {{ tag.name }}
                <br>
                <strong>Created: </strong> 
                {{ moment(tag.created_on).fromTime(now) }}
            </p>

            <p><strong>Used in: </strong>
            </p>
          <table class="table">
            <tr>
                <th>Date</th>
                <th>Title</th>
            </tr>
            {% for object in objects %}
            <tr>
                <td>{{ moment(object.created_on).fromTime(now) }}</td>
                <td>{{ object.title }}</td>
            </tr>
            {% endfor %}
            </table>

        </div>
    </div>


    <p><strong>You are sure?</strong></p> 

    <form class="form form-horizontal" method="post" role="form">
      {{ form.hidden_tag() }}
      {{ wtf.form_errors(form, hiddens="only") }}
      {{ wtf.form_field(form.submit) }} 
       &nbsp;&nbsp;&nbsp;
      <a href="{{ url_for('admin.all_tags') }}">No, thanks!</a>
    </form>

</div>
{% endblock content %}

