{% extends "bootstrap/base.html" %}

{% block title %}Max's Flapy Blog{% endblock %}

{% block metas %}
{{ super() }}
    <meta http-equiv="content-language" content="pt-br">
    <meta charset="UTF-8">
    <meta name="description" content="Blog de anotações de um estudante de desenvolvimento web, o site contém artigos sobre tecnlogia e outros assuntos nerds.">
    <meta name="author" content="Maxwell Novais">
{% endblock metas %}

{% block head %}
    {{ super() }}

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles -->
    <link href="{{ url_for('static', filename='css/default.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/social.css') }}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

    <!-- IE's hack viewport -->
    <script src="static/js/ie-emulation-modes-warning.js"></script>
    <script src="static/js/ie10-viewport-bug-workaround.js"></script>

    <!-- fix responsive-tables on Firefox -->
    <script>

        @-moz-document url-prefix() {
            fieldset { display: table-cell; }
        }
    </script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% include "_analytics.html" %}
    {{ pagedown.html_head() }}
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

{% endblock head %}

{% block body %}
{% include "_header.html" %}

<div id="container" class="row">
    {% block content %}{% endblock content %}
</div>


{% include "_footer.html" %}
{% endblock body %}