<div id="site-footer" class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class = "col-md-6 col-xs-12">
            <center><strong>Social</strong></center>
                <div class="footer">
                    <a href="https://twitter.com/Makizim">
                        <div class="social">&#62217;</div>
                    </a>
                    <a href= "https://plus.google.com/105979286784080206130">
                        <div class="social">&#62223;</div>
                    </a>
                    <a href="br.linkedin.com/pub/maxwell-novais/26/2b7/208/">
                        <div class="social">&#62232;</div>
                    </a>
                </div>
        </div>

        <div class = "col-md-6 col-xs-12">
            <div id="foot-coop">
                © 2014 Maxwell de Souza Novais
                <br>
                Powered by Flask and Twitter Bootstrap
            </div>
        </div>

    </div>
</div>