<div id="site-footer" class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class = "col-md-6 col-xs-12">
            <center><strong>Social</strong></center>
                <div class="footer">
                    <div class="social">&#62217;</div>
                    <div class="social">&#62223;</div>
                    <div class="social">&#62232;</div>
                </div>
        </div>

        <div class = "col-md-6 col-xs-12">
            <div id="foot-coop">
                © 2014 Maxwell de Souza Novais
                <br>
                Powered by Flask and Twitter Bootstrap
            </div>
        </div>

    </div>
</div>