<div class="row">
    <div id="site-header" class="col-xs-12">
        <div id="header-test" class="col-sm-12 col-md-10 col-md-offset-1">
            <div id="header-icon" class="col-xs-4 col-sm-3"> 
                    <img class="avatar" src="{{ url_for('static', filename='img/profile.jpg') }}" height="200" width="200" alt="Maxwell de Souza Novais">
            </div>

            <div id="header-desc" class="col-xs-8 col-sm-6">
                <p>
                    <h2><strong>MAXWELL DE S. NOVAIS</strong></h2>
                    <h3>Web Developer</h3>
                    <h5>( Python, Flask, Bootstrap )</h5>
                </p>
            </div>
            <div id="header-desc" class="col-xs-12 col-sm-3">
                <p>
                    <ul class="list-group menu-color">
                        <li class="list-group-item">
                        <span class="glyphicon glyphicon-home"></span>
                            Home
                        </li>
                        <li class="list-group-item article-color">
                            <span class="badge">{{ posts.count() }}</span>
                            <span class="glyphicon glyphicon-file"></span>
                            Artigos
                        </li>
                        <li class="list-group-item link-color">
                            <span class="badge">{{ links.count() }}</span>
                            <span class="glyphicon glyphicon-link"></span>
                            Links
                        </li>
                        <li class="list-group-item tag-color">
                            <span class="badge">{{ tags.count() }}</span>
                            <span class="glyphicon glyphicon-tags"></span>
                            Tags
                        </li>
                        <li class="list-group-item comment-color">
                            <span class="badge">{{ comments.count() }}</span>
                            <span class="glyphicon glyphicon-comment"></span>
                            Coment.
                        </li>
                        <li class="list-group-item">
                        <span class="glyphicon glyphicon-user"></span>
                            Sobre
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>