<div class="row">
    <div id="site-header" class="col-xs-12">
        <div id="header-test" class="col-sm-12 col-md-10 col-md-offset-1">
            <div id="header-icon" class="col-xs-4 col-sm-3"> 
                    <img class="avatar" src="{{ url_for('static', filename='img/profile.jpg') }}" height="200" width="200" alt="Maxwell de Souza Novais">
            </div>

            <div id="header-desc" class="col-xs-8 col-sm-6">
                <p>
                    <h2><strong>MAXWELL DE S. NOVAIS</strong></h2>
                    <h3>Web Developer</h3>
                    <h5>( Python, Flask, Bootstrap )</h5>
                </p>
            </div>
            <div id="header-desc" class="col-xs-12 col-sm-3">
                <p>
                    <ul class="list-group">
                        <li class="list-group-item">
                        <a href="{{ url_for('main.index')}}" class="menu-color">
                        <span class="glyphicon glyphicon-home"></span>
                            Home
                        </a>
                        </li>
                        <li class="list-group-item">
                        <a href="{{ url_for('main.posts')}}" class="article-color">
                            <span class="glyphicon glyphicon-file"></span>
                            Posts
                            <span class="badge">{{ posts.count() }}</span>
                        </a>
                        </li>
                        <li class="list-group-item">
                        <a href="{{ url_for('main.links')}}" class="link-color">
                            <span class="glyphicon glyphicon-link"></span>
                            Links
                            <span class="badge">{{ links.count() }}</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                        <a href="{{ url_for('main.tags')}}" class="tag-color">
                            <span class="glyphicon glyphicon-tags"></span>
                            Tags
                            <span class="badge">{{ tags.count() }}</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                        <a href="{{ url_for('main.comments')}}" class="comment-color">
                            <span class="glyphicon glyphicon-comment"></span>
                            Coment.
                            <span class="badge">{{ comments.count() }}</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                        <a href="{{ url_for('main.about')}}"  class="menu-color">
                        <span class="glyphicon glyphicon-user"></span>
                            About
                            </a>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>