{% extends "_basebig.html" %}
{% block content %}

{% include "_search.html" %}

<div id="dashboard" class="col-md-10 col-lg-offset-1">
    <p><h2>Last Posts</h2></p>
    {% for post in posts.limit(3) %}
    <div class="col-md-4 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-12">
                    <h4>{{ post.title }}</h4>
                    <p>{{ post.headline }}</p>
                    <a href="{{ url_for('main.object', id=post.id) }}">
                    <button type="button" class="btn btn-success btn-xs">
                        <span class="glyphicon glyphicon-zoom-in"></span> Continue Reading
                    </button>
                    </a>

                </div>
                <div class="col-sm-12 div-esp">
                    <p>
                    {% for tag in post.tags %}
                    <a href="{{ url_for('main.tag', id=tag.id) }}">
                    <button type="button" class="btn btn-info btn-xs">
                    {{ tag.name }}
                    </button></a>
                    {% endfor %}
                    </p>
                   <p><h7><i>by {{post.author.first_name}} in {{ moment(post.created_on).fromTime(now) }}</i></h7></p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>



<div id="dashboard" class="col-md-10 col-lg-offset-1">
    <p><h2>Last Links</h2></p>
        {% for link in links.limit(4) %}
            <div class="col-md-3 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-sm-12">
                        <h4>{{ link.title }}</h4>
                        <a href="{{ url_for('main.object', id=link.id) }}"
                        <button type="button" class="btn btn-success btn-xs">
                            <span class="glyphicon glyphicon-zoom-in"></span> Details
                        </button>
                        <a href="{{ link.body }}">
                        <button type="button" class="btn btn-primary btn-xs">    
                        <span class="glyphicon glyphicon-globe"></span> Go
                        </button>
                        </a>

                    </div>
                    <div class="col-sm-12 div-esp">
                        {% for tag in link.tags %}
                        <a href="{{ url_for('main.tag', id=tag.id) }}">
                        <button type="button" class="btn btn-info btn-xs">
                        {{ tag.name }}
                        </button></a>
                        {% endfor %}
                       <p><h7><i>by {{link.author.first_name}} in {{ moment(link.created_on).fromTime(now) }}</i></h7></p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
</div>
{% endblock content %}

