{% extends "_base.html" %}

{% block metas %}
    {{ super() }}
    <meta name="keywords" content="{% for tag in tags[:15] %}{{ tag.name }},{% endfor %}">
{% endblock metas %}

{% block content %}

        <div class="col-xs-10 col-xs-offset-1">
            {% include "_search.html" %}
        </div>


        <div class="col-md-4 col-xs-12">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading">Últimos Links</div>
              <!-- List group -->
              <ul class="list-group">
                {% for link in links.limit(20) %}
                <li class="list-group-item">
                    <a href="{{ url_for('main.object', string=link.slug_title) }}">
                        <button type="button" class="btn btn-success btn-xs">
                        <span class="glyphicon glyphicon-zoom-in"></span>
                    </button>
                    </a>
                    <a href="{{ link.body }}">
                        <button type="button" class="btn btn-primary btn-xs">    
                        <span class="glyphicon glyphicon-globe"></span>
                        
                    </button>
                    {{ link.title }}
                    </a>
                </li>
                {% endfor %}
              </ul>
            </div>
        </div>

        <div class="col-md-8 col-xs-12">
                {% for post in posts.limit(5) %}
                <p>
                <div class="col-xs-8">
                    <h3>{{ post.title }}</h3>
                </div>
                <div class="col-xs-4 post-data">
                    <h6>Enviado em {{post.created_on.strftime('%d/%m/%Y %H:%M')}}</h6>
                    <h6>Por {{post.author.first_name}}</h6>
                </div>
                <div class="col-xs-12 panel">
                    <p class="content-headline">{{ post.headline }}</p>
                    <hr>
                    <div class="col-xs-8">
                        <p class="paragraph-tags">
                            {% for tag in post.tags %}
                                <a href="{{ url_for('main.tag', id=tag.id) }}">
                                    <button type="button" class="btn btn-info btn-xs">
                                        {{ tag.name }}
                                    </button>
                                </a>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="col-xs-4">
                    <p class="paragraph-details">
                        <a href="{{ url_for('main.object', string=post.slug_title) }}">
                            <button type="button" class="btn btn-success btn-xs">
                                <span class="glyphicon glyphicon-zoom-in">Detalhes</span>
                            </button>
                        </a>
                    </p>
                    </div>

                </div>
                </p>
                {% endfor %}
        </div>


        

{% endblock content %}

