{% import "bootstrap/wtf.html" as wtf%}
{% extends "admin/_base.html" %}

{% block content %}
{% include "admin/_messages.html" %}
<h1>New Post</h1>
<hr>
<form action="" method="post" name="post">
    {{form.hidden_tag()}}
    <div class="row">
        <div class="col-xs-12 col-md-5">
            {{ wtf.form_field(form.title)}}
            {{ wtf.form_field(form.tags)}}
            {{ wtf.form_field(form.headline)}}
        </div>
        <div class="col-xs-12 col-md-7">
            {{ wtf.form_field(form.body)}}
        </div>
    </div>
    {{ wtf.form_field(form.submit)}}
</form>
{% endblock content %}

